body {
  padding: 0px;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-color: #e5e5e5;
  text-align: center;
}

.links {
  color: aliceblue;
  width: 70%;
  position: absolute;
  left: 15%;
  display: -webkit-inline-flex;
  border-bottom: 3px solid #459c86;
}

.logo {
  text-decoration: none;
}

.info_org {
  text-decoration: none;
  color: #459c86;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 50px;
  font-size: 19px;
  font-style: italic;
  font-weight: bold;
  margin-left: 21%;
}

.info_org:hover {
  color: #12725a;
}

.name {
  color: aqua;
  background-color: rgb(213, 216, 217);
  display: inline-block;
  position: absolute;
  left: 15%;
  top: 19%;
}

.name_img {
  width: 300px;
}

.name_name {
  color: #459c86;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  padding: 8px;
}

.work {
  color: #3b8774;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  padding: 3px;
  text-decoration: underline;
}

.mail {
  color: #459c86;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  padding: 4px;
}

.lessons {
  position: absolute;
  right: 10%;
  top: 26%;
}

.lessons_title {
  color: #459c86;
  font-size: 19px;
  font-style: italic;
  font-weight: bold;
}

.list {
  color: #459c86;
  font-size: 19px;
  font-style: italic;
  font-weight: bold;
}

/* Styles for devices with a maximum width of 1200px */
@media screen and (max-width: 1200px) {
  .links {
    width: 80%;
    left: 10%;
  }

  .name {
    left: 10%;
    top: 12%;
    width: 40%;
    text-align: center;
    border: 2px;
  }

  .name_img {
    width: 300px;
  }

  .lessons {
    right: 2%;
    top: 28%;
  }
}

/* Styles for devices with a maximum width of 900px */
@media screen and (max-width: 998px) {
  .links {
    width: 100%;
    display: contents;
  }

  .name {
    left: 10%;
    top: 12%;
    width: 40%;
    text-align: center;
    border: 2px;
  }

  .name_img {
    width: 250px;
    border-style: solid;
    border-color: #459c86;
  }

  .lessons {
    right: 10%;
    top: 11%;
    width: 30%;
    padding: 18px;
  }

  .logo {
    text-align: center;
    margin-top: 2%;
    width: -webkit-fill-available;
  }
  
  .info_org {
    text-decoration: none;
    color: #459c86;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 50px;
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    margin-left: 10%;
  }
  
  .info_org:hover {
    color: #12725a;
  }

  .list {
    color: #459c86;
    font-size: 19px;
    font-style: italic;
    font-weight: bold;
    line-height: 35px;
  }
}

/* Styles for devices with a maximum width of 576px */
@media screen and (max-width: 576px) {
  .links {
    width: 90%;
    display: block;
    left: 6%;
  }

  .name {
    left: 10%;
    top: 25%;
    width: 40%;
    text-align: center;
    border: 2px;
    padding: 10px;
    border-radius: 20px;
  }

  .name_img {
    width: 75%;
    border-style: solid;
    border-color: #459c86;
  }

  .lessons {
    right: 10%;
    top: 25%;
    width: 28%;
    padding: 10px;
    word-break: break-word;
    background-color: rgb(213, 216, 217);
    border-radius: 25px;
    border-color: #459c86;
    border-style: solid;
  }

  .logo {
    text-align: center;
    margin-top: 2%;
    width: -webkit-fill-available;
  }
  
  .info_org {
    text-decoration: none;
    color: #459c86;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 50px;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    margin-left: 0%;
  }
  
  .info_org:hover {
    color: #12725a;
  }

  .list {
    color: #459c86;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    line-height: 25px;
    text-align: -webkit-auto;
  }
}