<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
    <div class="links">
        <div class="logo">	
	    	<a href="https://www.ssuwt.ru">
                <img class="logo" src="static/logo.png" alt="СГУВТ">
            </a>	
	    </div>
        <a href="https://www.ssuwt.ru/sveden/"  class="info_org">Сведения об образовательной организации</a>
    </div>
    <div class="name">
        <img src="https://img.freepik.com/premium-photo/exterior-portrait-of-elegant-happy-mature-woman-with-dark-hair_954932-3230.jpg" class="name_img">
        <div class="name_name">
            Мальцева Нина Михайловна
        </div>
        <div class="work">
            преподаватель высшей квалификационной категории
        </div>
        <div class="mail">
            Эл.почта: malcevankru@mail.ru
        </div>
    </div>
    <div class="lessons">
        <div class="lessons_title">Преподаваемые дисциплины:</div>
        <ul>
            <li class="list">
                Основы финансовой грамотности и предпринимательской деятельности
            </li>
            <li>
                Управление коллективом исполнителей
            </li>
            <li>
                Технология перевозки грузов
            </li>
        </ul>
    </div>
</body>
<footer>

</footer>
</html>
