<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="links">
        <div class="logo">	
	        <a href="https://www.ssuwt.ru">
                <img class="logo" src="static/logo.png" alt="СГУВТ">
            </a>	
        </div>
        <a href="https://www.ssuwt.ru/sveden/"  class="info_org">Новосибирское командное речное училище имени С. И. Дежнева</a>
    </div>
    <div class="view">
        <div class="name">
            <img src="static/gm.jpg" class="name_img">
            <div class="name_name">
                Мальцева Нина Михайловна
            </div>
            <div class="work">
                преподаватель высшей квалификационной категории
            </div>
            <div class="mail">
                📬 malcevankru@mail.ru
            </div>
        </div>
        <a href="https://www.ssuwt.ru/sveden/"  class="info_learn">Учебные материалы</a>
        <div class="lessons">
            <div class="lessons_title">Преподаваемые дисциплины:</div>
            <ul>
                <li class="list">
                    Основы финансовой грамотности и предпринимательской деятельности
                </li>
                <li class="list">
                    Управление коллективом исполнителей
                </li>
                <li class="list">
                    Технология перевозки грузов
                </li>
            </ul>
        </div>
    </div>
</body>
<footer>

</footer>
</html>
